# Data ETL
ETL - Extract, Transform, Load: Gather raw data from various sources, clean and consolidate it, and then load it into a single centralized destination
- Extract data from various sources (databases, files, APIs, etc.)
- Transform the data by cleaning, formatting, or combining it as needed
- Load the processed data into a destination, such as a database, data warehouse, or analytics tool
ETL is a foundational step in data engineering and analytics pipelines, ensuring data is ready for analysis or further processing.

## Initialize

In [1]:
import pandas as pd
import numpy as np
# import polars as pl
import gdown
import os
import rich

In [2]:
version_tag = "dev"

In [3]:
## UNCOMMENT CODE IN THIS CHUNK FOR THE FIRST TIME USING THIS REPO - Onetime data downloading from Google Drive
# # https://drive.google.com/file/d/1MiD9s007n_XrSVpxDpLyeTcBjpKLaQi3/view?usp=sharing
# # https://drive.google.com/file/d/1da-n6cmkb-L5TTtuq-vQLutDN8dmiExi/view?usp=sharing
# model_file_id = "1da-n6cmkb-L5TTtuq-vQLutDN8dmiExi"
# data_folder = "c:/teaching/fall2025/data_science_bootcamp_lecture_1"
# gdown.download(
#     f"https://drive.google.com/uc?id={model_file_id}",
#     f'{data_folder}/.local/synthetic_auto_policies_model_data.csv', 
#     quiet=False)
# inference_file_id = "1MiD9s007n_XrSVpxDpLyeTcBjpKLaQi3"
# gdown.download(
#     f"https://drive.google.com/uc?id={inference_file_id}",
#     f'{data_folder}/.local/synthetic_auto_policies_inference_data.csv', 
#     quiet=False)

## Extract Data

In [4]:
data_folder = "c:/teaching/fall2025/data_science_bootcamp_lecture_1"
model_data = pd.read_csv(f'{data_folder}/.local/synthetic_auto_policies_model_data_10042025.csv')
print( model_data.shape )
model_data.head(5)

(15000, 24)

,id,fold,sample,veh_value,exposure,veh_body,veh_age,gender,area,agecat,...,marital_status,e_bill,time_of_week_driven,time_driven,trm_len,credit_score,high_education_ind,clm,numclaims,claimcst0
0,1,2,1|bld,5.80,0.362191,SUV,2,F,B,1,...,S,0,weekday,12pm - 6pm,6,646.516469,0.0,1,1,2023.198184
1,2,3,1|bld,5.67,0.632068,STNWG,4,F,A,2,...,M,0,weekend,6am - 12pm,12,635.400369,0.0,1,1,3600.172234
2,3,1,1|bld,5.90,0.367460,SEDAN,2,F,C,2,...,S,0,weekday,6am - 12pm,12,646.463131,0.0,1,1,2021.144067
3,4,2,1|bld,4.79,0.802184,STNWG,3,M,B,4,...,S,1,weekday,6pm - 12am,12,645.598794,0.0,1,1,4006.845492
4,5,2,1|bld,6.68,0.485009,SEDAN,3,M,C,1,...,M,0,weekday,6am - 12pm,12,657.348612,0.0,1,1,2542.953931

In [5]:
inference_data = pd.read_csv(f'{data_folder}/.local/synthetic_auto_policies_inference_data_10042025.csv')
print( inference_data.shape )
inference_data.head(5)

(15000, 19)

,id,veh_value,exposure,veh_body,veh_age,gender,area,agecat,engine_type,max_power,driving_history_score,veh_color,marital_status,e_bill,time_of_week_driven,time_driven,trm_len,credit_score,high_education_ind
0,8295,6.36,0.777085,SUV,3,M,A,2,hybrid,128,81,silver,M,1,weekend,6am - 12pm,12,644.721808,0
1,17625,2.56,0.528369,STNWG,1,F,A,1,dissel,178,94,white,M,1,weekday,12pm - 6pm,12,634.306196,0
2,3802,6.18,0.384591,HDTOP,4,F,D,3,petrol,270,77,yellow,S,1,weekday,6pm - 12am,12,649.245139,0
3,12865,6.49,0.116378,SUV,3,M,D,4,petrol,120,59,gray,M,1,weekday,6am - 12pm,12,647.594655,0
4,6495,6.46,0.688417,SEDAN,2,F,C,4,petrol,94,81,green,M,1,weekday,6am - 12pm,12,657.550500,0

## Transform Data
### Visualize data

In [6]:
output_folder = "../.local/analysis_pipeline/data_etl"
os.makedirs(output_folder, exist_ok=True)

In [7]:
from ydata_profiling import ProfileReport

model_data_profile = ProfileReport(model_data, title="Model Data Profiling Report")

In [ ]:
# model_data_profile.to_notebook_iframe()
model_data_profile.to_file(f"{output_folder}/model_data_profile_{version_tag}.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 24/24 [00:00<00:00, 58.96it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

### Clean and Consolidate data

In [ ]:
## Show column information for abnormal checking purpose
rich.print( model_data.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     15000 non-null  int64
 1   fold                   15000 non-null  int64
 2   sample                 15000 non-null  object
 3   veh_value              15000 non-null  float64
 4   exposure               15000 non-null  float64
 5   veh_body               15000 non-null  object
 6   veh_age                15000 non-null  int64
 7   gender                 15000 non-null  object
 8   area                   15000 non-null  object
 9   agecat                 15000 non-null  int64
 10  engine_type            15000 non-null  object
 11  max_power              15000 non-null  int64
 12  driving_history_score  15000 non-null  float64
 13  veh_color              15000 non-null  object
 14  marital_status         15000 non-null  object
 15  e_bill                 15000 non-null  int64
 16  time_of_week_driven    15000 non-null  object
 17  time_driven            15000 non-null  object
 18  trm_len                15000 non-null  int64
 19  credit_score           15000 non-null  float64
 20  high_education_ind     15000 non-null  float64
 21  clm                    15000 non-null  int64
 22  numclaims              15000 non-null  int64
 23  claimcst0              15000 non-null  float64
dtypes: float64(6), int64(9), object(9)
memory usage: 2.7+ MB

None

In [ ]:
# Cap the heavy right tailed 'veh_value' at the 99th percentile for outlier control
veh_value_cap = round(np.nanpercentile(model_data['veh_value'], 99), 3)
print(f"veh_value cap at 99th percentile: {veh_value_cap}")
model_data['veh_value'] = model_data['veh_value'].clip(upper=veh_value_cap)

veh_value cap at 99th percentile: 7.2

In [ ]:
# Check category distribution of 'veh_body'
rich.print( model_data['veh_body'].value_counts() )
# Group 'MCARA', 'CONVT', 'BUS', and 'RDSTR' 'veh_body' as 'Other'
model_data.loc[model_data['veh_body'].isin(['MCARA','CONVT','BUS','RDSTR']), 'veh_body'] = 'Other'

veh_body
SEDAN    4533
STNWG    4025
SUV      3856
UTE      1144
TRUCK     451
HDTOP     427
PANVN     193
MIBUS     153
COUPE     133
MCARA      35
CONVT      25
BUS        17
RDSTR       8
Name: count, dtype: int64

In [ ]:
# Cap the heavy right tailed 'veh_value' at 722
credit_score_cap = 722
model_data['credit_score'] = model_data['credit_score'].clip(upper=credit_score_cap)

In [ ]:
# Assume single vehicle policy and create a vehicle count variable
model_data['veh_cnt'] = 1

# Add policy year 
model_data['data_segment'] = "1|model"

### Carry the above steps to inference data

In [ ]:
import sys
sys.path.append(os.path.abspath(".."))
from analysis_tool_chest.data_etl import DataETL

output_folder = "../.local/analysis_pipeline/data_etl"
os.makedirs(output_folder, exist_ok=True)
etl = DataETL(inference_data)
etl.profile_analysis(output_folder, file_name=f"inference_data_profile_{version_tag}.html", title="Inference Data Profiling Report")
processed_inference_data = etl.transform(cap_dict={'veh_value': veh_value_cap})

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 19/19 [00:00<00:00, 145.97it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

veh_value capped at 7.2

## Load Data Into Memory

In [ ]:
output_folder = "../.local/analysis_pipeline/data_etl"
model_data.to_parquet(f"{output_folder}/model_data_{version_tag}.parquet", index=False)
processed_inference_data.to_parquet(f"{output_folder}/inference_data_{version_tag}.parquet", index=False)