In [1]:
import pandas as pd
import numpy as py
import polars as pl
import gdown
import os

In [2]:
## Onetime data downloading
file_id = "15DamSAHtEUsLn2qwnwmJFgD7Djk1MizJ"
data_folder = "c:/teaching/fall2025/data_science_bootcamp_lecture_1"
gdown.download(
    f"https://drive.google.com/uc?id={file_id}",
    f'{data_folder}/.local/auto_policies_2017.csv', 
    quiet=False)

Downloading...
From: https://drive.google.com/uc?id=15DamSAHtEUsLn2qwnwmJFgD7Djk1MizJ
To: c:\teaching\fall2025\data_science_bootcamp_lecture_1\.local\auto_policies_2017.csv
100%|██████████| 4.35M/4.35M [00:00<00:00, 18.1MB/s]

'c:/teaching/fall2025/data_science_bootcamp_lecture_1/.local/auto_policies_2017.csv'

In [3]:
## Collect input links
data_folder = "c:/teaching/fall2025/data_science_bootcamp_lecture_1"

In [4]:
data = pd.read_csv(f'{data_folder}/.local/auto_policies_2017.csv')
print( data.shape )
data.head(5)

(60392, 15)

,pol_number,pol_eff_dt,gender,agecat,date_of_birth,credit_score,area,traffic_index,veh_age,veh_body,veh_value,claim_office,numclaims,claimcst0,annual_premium
0,64080188,7/10/2017,M,2.0,1/4/1989,631.0,B,140.9,4,TRUCK,0.924,NaN,0,0.000000,716.53
1,18917133,7/31/2017,M,2.0,6/21/1985,531.0,C,136.5,3,HBACK,1.430,B,1,583.010876,716.53
2,82742606,2/1/2017,M,6.0,7/25/1942,838.0,D,88.8,3,SEDAN,1.100,D,1,159.375757,716.53
3,43601997,10/17/2017,M,5.0,6/8/1959,835.0,E,NaN,2,SEDAN,2.090,NaN,0,0.000000,716.53
4,58746861,4/13/2017,F,4.0,5/16/1967,748.0,C,123.0,3,HBACK,0.803,C,1,143.555642,716.53